.medalsFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.constructor {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 15px;
}

.constructor>select {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: transparent;
}

.constructor input {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid gray;
}

.info {
  padding: 10px;
  border-radius: 15px;
}

.info>div {
  text-align: center;
}

.addedMedals {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.medals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

.title {
  text-align: center;
}